In [6]:
import pandas as pd
from gpt_API import gpt_reviewer

In [7]:
df_humano = pd.read_csv('data/df_reseñas_humanas.csv')

In [8]:
df_humano.head()

,reseñas_humanas,nombre_producto,categoria_producto,longitud,idioma_original,idioma,IA,tipo
0,Necesitaba un nuevo movil y me decidí por este...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,297,es,es,0,grande
1,Está en perfectas condiciones la batería al 10...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,99,es,es,0,pequeña
2,Me llegó ayer el iPhone en perfectas condicion...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,436,es,es,0,grande
3,Compré un iPhone 12 a este vendedor y hace un...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,657,es,es,0,grande
4,Soy usuario de IPhone desde el principio. Teng...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,596,es,es,0,grande

In [9]:
# Vamos a hacer una prueba con reseñas de 3 tipos distintos
reseña_ejemplo_pequeña = df_humano[df_humano['tipo'] == 'pequeña'].iloc[:1]
reseña_ejemplo_mediana = df_humano[df_humano['tipo'] == 'mediana'].iloc[:1]
reseña_ejemplo_grande = df_humano[df_humano['tipo'] == 'grande'].iloc[:1]

In [10]:
reseña_ejemplo_pequeña['ia_ejemplo'] = gpt_reviewer(reseña_ejemplo_pequeña['reseñas_humanas'].values[0], reseña_ejemplo_pequeña['longitud'].values[0])
reseña_ejemplo_mediana['ia_ejemplo'] = gpt_reviewer(reseña_ejemplo_mediana['reseñas_humanas'].values[0], reseña_ejemplo_mediana['longitud'].values[0])
reseña_ejemplo_grande['ia_ejemplo'] = gpt_reviewer(reseña_ejemplo_grande['reseñas_humanas'].values[0], reseña_ejemplo_grande['longitud'].values[0])

In [11]:
df_prueba = pd.concat([reseña_ejemplo_pequeña, reseña_ejemplo_mediana, reseña_ejemplo_grande])

In [12]:
df_prueba

,reseñas_humanas,nombre_producto,categoria_producto,longitud,idioma_original,idioma,IA,tipo,ia_ejemplo
1,Está en perfectas condiciones la batería al 10...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,99,es,es,0,pequeña,"La batería se encuentra impecable al 100%, sin..."
16,"Después de 3 meses de uso, el móvil da un mens...","Apple iPhone 13, 128GB, Azul - (Reacon...",Amazon Renewed,148,es,es,0,mediana,"¡Después de tres meses de uso, mi teléfono emp..."
0,Necesitaba un nuevo movil y me decidí por este...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,297,es,es,0,grande,Decidí optar por este teléfono reacondicionado...

In [13]:
df_prueba.drop(columns=['nombre_producto', 'longitud', 'idioma', 'idioma_original', 'IA', 'categoria_producto'], inplace=True, errors='ignore')

In [14]:
for i in range(3):
    print(df_prueba.iloc[i]['reseñas_humanas'])

Está en perfectas condiciones la batería al 100x100, sin golpes ni arañazos. Funciona perfectamente
Después de 3 meses de uso, el móvil da un mensaje en el q dice "pieza desconocida ...la batería puede no ser original" y dejó de cargar literalmente
Necesitaba un nuevo movil y me decidí por este reacondicionado. Al ser del propio amazon me confie aun mas. Confio mucho en sus productos y en sus servicios. El movil estaba en perfecto estado y funcionando a la perfeccion. Mi unica queja es ajeno a amazon, y es por su compañia de transporte ups.

In [15]:
for i in range(3):
    print(df_prueba.iloc[i]['ia_ejemplo'])

La batería se encuentra impecable al 100%, sin ningún golpe o rasguño. Su funcionamiento es óptimo, ¡es simplemente perfecta!
¡Después de tres meses de uso, mi teléfono empezó a mostrar un mensaje indicando que la batería podía no ser original y dejó de cargar por completo!
Decidí optar por este teléfono reacondicionado para satisfacer mis necesidades y la elección no pudo ser mejor. Al ser vendido directamente por Amazon, me sentí aún más seguro en mi compra. Confío plenamente en la calidad de sus productos y en la excelencia de sus servicios. El móvil llegó en perfectas condiciones y funciona de manera impecable. Si bien mi única queja no está relacionada con Amazon, sino con la compañía de transporte UPS, no dudo en recomendar este producto a todos los que busquen calidad y confiabilidad. ¡Una compra que superó mis expectativas!

In [16]:
df_reseñas_ia = pd.DataFrame()

In [17]:
df_humano['reseñas_humanas']

0       Necesitaba un nuevo movil y me decidí por este...
1       Está en perfectas condiciones la batería al 10...
2       Me llegó ayer el iPhone en perfectas condicion...
3       Compré  un iPhone 12 a este vendedor y hace un...
4       Soy usuario de IPhone desde el principio. Teng...
                              ...
1819              Por la Calidad y el precio es perfecto.
1820    Da muy buena luz, instalación depende del plaf...
1821    Pues que decir, ilumina bien la luz fría , per...
1822    Queda muy bien instalado, es muy plano y da mu...
1823    Solo duraron unas pocas docenas de horas. Para...
Name: reseñas_humanas, Length: 1824, dtype: object

In [18]:
df_humano['reseñas_ia'] = df_humano.apply(lambda x: gpt_reviewer(review=x['reseñas_humanas'], longitud=x['longitud']), axis=1)

In [19]:
# Guardamos este dataframe para hacer un posible eda
df_para_EDA = df_humano.copy()
df_para_EDA.to_csv('data/df_para_EDA.csv', index=False)

In [23]:
df_para_EDA.head()

,reseñas_humanas,nombre_producto,categoria_producto,longitud,idioma_original,idioma,IA,tipo,reseñas_ia
0,Necesitaba un nuevo movil y me decidí por este...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,297,es,es,0,grande,"Al buscar un nuevo celular, opté por este reac..."
1,Está en perfectas condiciones la batería al 10...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,99,es,es,0,pequeña,"La batería se encuentra en excelente estado, a..."
2,Me llegó ayer el iPhone en perfectas condicion...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,436,es,es,0,grande,Recibí mi iPhone ayer en excelente estado. Aun...
3,Compré un iPhone 12 a este vendedor y hace un...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,657,es,es,0,grande,Recientemente adquirí un iPhone 12 a través de...
4,Soy usuario de IPhone desde el principio. Teng...,"Apple iPhone 12, 128GB, Negro - (Reaco...",Amazon Renewed,596,es,es,0,grande,Como ávido seguidor de la línea de productos d...

In [31]:
# Ahora creamos el dataframe para el modelo de clasificacion
df_ia = pd.DataFrame(df_para_EDA['reseñas_ia'])
df_non_ia = pd.DataFrame(df_para_EDA['reseñas_humanas'])

In [32]:
df_ia['IA'] = 1
df_non_ia['IA'] = 0

In [34]:
df_ia.head()

                                          reseñas_ia  IA
0  Al buscar un nuevo celular, opté por este reac...   1
1  La batería se encuentra en excelente estado, a...   1
2  Recibí mi iPhone ayer en excelente estado. Aun...   1
3  Recientemente adquirí un iPhone 12 a través de...   1
4  Como ávido seguidor de la línea de productos d...   1

In [35]:
df_non_ia.head()

                                     reseñas_humanas  IA
0  Necesitaba un nuevo movil y me decidí por este...   0
1  Está en perfectas condiciones la batería al 10...   0
2  Me llegó ayer el iPhone en perfectas condicion...   0
3  Compré  un iPhone 12 a este vendedor y hace un...   0
4  Soy usuario de IPhone desde el principio. Teng...   0

In [38]:
df_non_ia.columns = ['reseñas', 'IA']
df_ia.columns = ['reseñas', 'IA']

In [39]:
df_clasificación = pd.concat([df_non_ia, df_ia])

In [41]:
df_clasificación['longitud'] = df_clasificación['reseñas'].apply(lambda x: len(x))

In [42]:
df_clasificación.head()

                                             reseñas  IA  longitud
0  Necesitaba un nuevo movil y me decidí por este...   0       297
1  Está en perfectas condiciones la batería al 10...   0        99
2  Me llegó ayer el iPhone en perfectas condicion...   0       436
3  Compré  un iPhone 12 a este vendedor y hace un...   0       657
4  Soy usuario de IPhone desde el principio. Teng...   0       596

In [43]:
df_clasificación.to_csv('data/df_para_clasificación.csv', index=False)